@page
@model Prototype.Pages.Pie.IndexModel

<h2>Pie Chart</h2>

<div class="pies-container">
    @(Html.DevExtreme().PieChart()
        .Series(s => {
                         s.Add().ArgumentField("Name").ValueField("Area").Label(e => { e.Visible(true); e.Format("percent"); });

        })
        .Title("Area of Cities")
        .Palette(VizPalette.Soft)
        .SizeGroup("sizeGroupName")
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Right)
            .RowCount(2)
        )
        .DataSource(new[] {
            new { Name = "Other", Area = 0.12 },
            new { Name = "Manguang", Area = 0.07 },
            new { Name = " Durban", Area = 0.07 },
            new { Name = "Polokwane", Area = 0.07 },
            new { Name = "Buffalo City", Area = 0.06 },
            new { Name = "Nelson Mandela Bay", Area = 0.05 },
            new { Name = "Cape Town", Area = 0.02 },
            new { Name = "Johannesburg", Area = 0.55 }
        })
        )

    @(Html.DevExtreme().PieChart()
        .Series(s => {
                         s.Add().ArgumentField("Name").ValueField("Area").Label(e => { e.Visible(true); e.Format("percent"); });
        })
        .Palette(VizPalette.SoftPastel)
        .SizeGroup("sizeGroupName")
        .Title("Profit/Capital Ratio")
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Right)
            .RowCount(2)
        )
        .DataSource(new[] {
            new { Name = "Capital", Area = 0.29 },
            new { Name = "Profit", Area = 0.71 }
        })
        )
</div>
