@page
@using Prototype.Models

<h2>Overview</h2>

@(Html.DevExtreme().PieChart()
    .ID("pie")
    .Type(PieChartType.Donut)
    .Palette(VizPalette.SoftPastel)
    .Title("Prototype Data Analysis")
    .Legend(l => l
        .HorizontalAlignment(HorizontalAlignment.Right)
        .VerticalAlignment(VerticalEdge.Top)
        .Margin(0)
    )
    .Export(e => e.Enabled(true))
    .Series(s => s
        .Add()
        .ArgumentField("Country")
        .ValueField("Medals")
        .HoverStyle(h => h.Color("#ffd700"))
    )
    .OnPointClick(@<text>
                      function(arg) {
                      arg.target.select();
                      }
                   </text>)
    .DataSource(new[] {
        new { Country = "Profit", Medals = 110 },
        new { Country = "Turnover", Medals = 100 },
        new { Country = "Loss", Medals = 72 },
        new { Country = "Capital", Medals = 47 },
        new { Country = "Bad debts", Medals = 46 },
        new { Country = "Accounts payable", Medals = 41 },
        new { Country = "Cash flow", Medals = 40 },
        new { Country = "Debit", Medals = 31 }
    })
    )
